.white {
    background-color: white;
    text-align: center;
    height: 100vh;
    padding-top: 50px;
}

.white h1 a {
    color: black;
    font-size: 50px;
    
}

.white h1 a:hover{
    opacity: 0.4;
}

.video {
    display: inline-block;
    float: right;
    padding-right: 300px;
    padding-top: 50px;
}

.white h1 {
    font-size: 50px;
}

#howtouse{
    display: inline-block;
    padding-top: 25px;
}

#howtouse ul {
    text-align: left;
}

#howtouse a {
    color: red;
}



@media (max-width: 1439px) {
    .white h1 a {
        font-size: 35px;
    }
    
    .white h1 {
        font-size: 35px;
    }

    .video {
        float: none;
        padding-right: 0;
        width: 350px;
    }
    .video iframe{
        width: 100%;
    }

}

